/* lato-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/lato/lato-v17-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Lato Regular'), local('Lato-Regular'),
       url('../fonts/lato/lato-v17-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/lato/lato-v17-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/lato/lato-v17-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/lato/lato-v17-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/lato/lato-v17-latin-regular.svg#Lato') format('svg'); /* Legacy iOS */
}
/* lato-italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/lato/lato-v17-latin-italic.eot'); /* IE9 Compat Modes */
  src: local('Lato Italic'), local('Lato-Italic'),
       url('../fonts/lato/lato-v17-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/lato/lato-v17-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/lato/lato-v17-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/lato/lato-v17-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/lato/lato-v17-latin-italic.svg#Lato') format('svg'); /* Legacy iOS */
}
/* lato-700italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/lato/lato-v17-latin-700italic.eot'); /* IE9 Compat Modes */
  src: local('Lato Bold Italic'), local('Lato-BoldItalic'),
       url('../fonts/lato/lato-v17-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/lato/lato-v17-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/lato/lato-v17-latin-700italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/lato/lato-v17-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/lato/lato-v17-latin-700italic.svg#Lato') format('svg'); /* Legacy iOS */
}

/* crimson-text-regular - latin */
@font-face {
  font-family: 'Crimson Pro';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/crimson_pro/crimson-text-v11-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Crimson Text Regular'), local('CrimsonText-Regular'),
       url('../fonts/crimson_pro/crimson-text-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/crimson_pro/crimson-text-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/crimson_pro/crimson-text-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/crimson_pro/crimson-text-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/crimson_pro/crimson-text-v11-latin-regular.svg#CrimsonText') format('svg'); /* Legacy iOS */
}
/* crimson-text-italic - latin */
@font-face {
  font-family: 'Crimson Pro';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/crimson_pro/crimson-text-v11-latin-italic.eot'); /* IE9 Compat Modes */
  src: local('Crimson Text Italic'), local('CrimsonText-Italic'),
       url('../fonts/crimson_pro/crimson-text-v11-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/crimson_pro/crimson-text-v11-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/crimson_pro/crimson-text-v11-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/crimson_pro/crimson-text-v11-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/crimson_pro/crimson-text-v11-latin-italic.svg#CrimsonText') format('svg'); /* Legacy iOS */
}
/* crimson-text-600 - latin */
@font-face {
  font-family: 'Crimson Pro';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/crimson_pro/crimson-text-v11-latin-600.eot'); /* IE9 Compat Modes */
  src: local('Crimson Text SemiBold'), local('CrimsonText-SemiBold'),
       url('../fonts/crimson_pro/crimson-text-v11-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/crimson_pro/crimson-text-v11-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/crimson_pro/crimson-text-v11-latin-600.woff') format('woff'), /* Modern Browsers */
       url('../fonts/crimson_pro/crimson-text-v11-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/crimson_pro/crimson-text-v11-latin-600.svg#CrimsonText') format('svg'); /* Legacy iOS */
}
/* crimson-text-600italic - latin */
@font-face {
  font-family: 'Crimson Pro';
  font-style: italic;
  font-weight: 600;
  src: url('../fonts/crimson_pro/crimson-text-v11-latin-600italic.eot'); /* IE9 Compat Modes */
  src: local('Crimson Text SemiBold Italic'), local('CrimsonText-SemiBoldItalic'),
       url('../fonts/crimson_pro/crimson-text-v11-latin-600italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/crimson_pro/crimson-text-v11-latin-600italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/crimson_pro/crimson-text-v11-latin-600italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/crimson_pro/crimson-text-v11-latin-600italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/crimson_pro/crimson-text-v11-latin-600italic.svg#CrimsonText') format('svg'); /* Legacy iOS */
}
/* crimson-text-700 - latin */
@font-face {
  font-family: 'Crimson Pro';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/crimson_pro/crimson-text-v11-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Crimson Text Bold'), local('CrimsonText-Bold'),
       url('../fonts/crimson_pro/crimson-text-v11-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/crimson_pro/crimson-text-v11-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/crimson_pro/crimson-text-v11-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/crimson_pro/crimson-text-v11-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/crimson_pro/crimson-text-v11-latin-700.svg#CrimsonText') format('svg'); /* Legacy iOS */
}
/* crimson-text-700italic - latin */
@font-face {
  font-family: 'Crimson Pro';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/crimson_pro/crimson-text-v11-latin-700italic.eot'); /* IE9 Compat Modes */
  src: local('Crimson Text Bold Italic'), local('CrimsonText-BoldItalic'),
       url('../fonts/crimson_pro/crimson-text-v11-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/crimson_pro/crimson-text-v11-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/crimson_pro/crimson-text-v11-latin-700italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/crimson_pro/crimson-text-v11-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/crimson_pro/crimson-text-v11-latin-700italic.svg#CrimsonText') format('svg'); /* Legacy iOS */
}