---
---

@import "{{ site.theme }}";

body {
	background-color: #ffffff;
	font-family: Lato, Helvetica, Arial, sans-serif;
}

h1 { 
	font-family: Lato; 
	font-size: 24px; 
	font-style: normal; 
	font-variant: normal; 
	font-weight: bold; 
	line-height: 26px; 
} 

h3 {
	font-family: Lato; 
	font-size: 14px; 
	font-style: normal; 
	font-variant: normal; 
	font-weight: bold; 
	line-height: 15px; 
} 

p {
	font-family: Lato; 
	font-size: 14px; 
	font-style: normal; 
	font-variant: normal; 
	font-weight: 400; 
	line-height: 20px; 
} 

blockquote {
	font-family: Lato; 
	font-size: 21px; 
	font-style: normal; 
	font-variant: normal; 
	font-weight: 400; 
	line-height: 30px; 
} 

pre {
	font-family: Lato; 
	font-size: 13px; 
	font-style: normal; 
	font-variant: normal; 
	font-weight: 400; 
	line-height: 18px; 
}