---
layout: default
---

<div class="row col-md-3">
	
	<img style="border-radius: 25px;" src="danae.jpg" alt="danae">
	<h1>Dana&euml; Metaxa</h1>
	<p style="text-align:center;">
		PhD Candidate, Computer Science, Stanford University
	</p>
		<br>
	<div class="row text-center" id="contact-items">
		<a style="padding-right:20px !important" href="mailto:metaxa@stanford.edu"><i class="fa fa-envelope-o fa-2x"></i></a>
		<a style="padding-right:20px !important" href="content/CV.pdf"><i class="ai ai-cv ai-2x"></i></a>
		<a style="padding-right:20px !important" href="https://scholar.google.com/citations?user=6pA2wn4AAAAJ"><i class="ai ai-google-scholar-square ai-2x"></i></a>
		<a href="https://www.twitter.com/dmetaxak"><i class="fa fa-twitter fa-2x"></i></a>
	</div>
	<br>
	<h3 style="text-align:center;">Updates</h3>
	<p class="update">
		<strong>11/2020</strong> - I'll be teaching <a href="https://cs347.stanford.edu/2020/">CS347 (Human-Computer Interaction Research)</a> this coming Spring term, with Parastoo Abtahi.
	</p>
	<p class="update">
		<strong>4/2020</strong> - Our project on <a href="http://metaxa.net/content/papers/Finsta_CHI20.pdf">finsta accounts</a> won a Best Paper Honorable Mention at CHI20!
	</p>
</div>

<div style="margin-left:30px" class="col-md-8 blurb">
    <div style="text-align:justify">{{ content }}</div>
</div>

