---
layout: default
---

<div class="row col-md-3">
	
	<img style="border-radius: 25px;" src="danae.jpg" alt="danae">
	<h1>Rayhan Rashed</h1>
	<p style="text-align:center;">
		Undergrad Student, Computer Science, <strong>Bangladesh University of Engineering and Technology </strong>
	</p>
		<br>
	<div class="row text-center" id="contact-items">
		<a style="padding-right:20px !important" href="mailto:rayhan@cs.toronto.edu"><i class="fa fa-envelope-o fa-2x"></i></a>
		<a style="padding-right:20px !important" href="content/CV.pdf"><i class="ai ai-cv ai-2x"></i></a>
		<!-- <a style="padding-right:20px !important" href="https://scholar.google.com/citations?user=6pA2wn4AAAAJ"><i class="ai ai-google-scholar-square ai-2x"></i></a> -->
		<a href="https://www.twitter.com/rayhanrashed"><i class="fa fa-twitter fa-2x"></i></a>
	</div>
	<br>
	<h3 style="text-align:center;">Updates</h3>
	<p class="update">
		<strong>10/2020</strong> -Attending both UIST2020 & CSCW2020 as Student Volunteer! First ever conference attending! Super excited! 
	</p>
	<p class="update">
		<strong>10/2020</strong> - Submitted two revisions and a new paper to CSCW October cycle. Wish me goodluck!
	</p>

	<h3 style="text-align:center;">Reading Now</h3>
	<center style="padding: 10px;">
		<img src="media/the gene.jpg"
			 alt="System Model of Dakter Bari."
			 style="max-width: 100%;" />
	</center>
	Reading this excellent book now. Hoping to come back with a review! Next in line: <strong>The Age of Surveillance Capitalism</strong> by <a href="https://shoshanazuboff.com/book/"> Shoshana Zuboff </a>


</div>

<div style="margin-left:30px" class="col-md-8 blurb">
    <div style="text-align:justify">{{ content }}</div>
</div>

