---
layout: default
---

<div class="row col-md-3">
	<img src="danae.jpg" alt="danae">
	<div class="row">
		<div class="col-md-auto col-md-offset-1">
			<h3>Dana&euml; Metaxa</h3>
		</div>
		<!-- <div class="col-md-1 col-md-offset-3">
			<h4 style="margin-top:20px">metaxa-kakavouli</h4>
		</div> -->
		<br>
	</div>

	<div class="row text-center" id="contact-items">
		<a style="padding-right:20px !important" href="mailto:metaxa@stanford.edu"><i class="fa fa-envelope-o fa-2x"></i></a>
		<a style="padding-right:20px !important" href="https://www.linkedin.com/in/dmetaxak"><i class="fa fa-linkedin fa-2x"></i></a>
		<a style="padding-right:20px !important" href="https://www.github.com/dmetaxak"><i class="fa fa-github fa-2x"></i></a>
		<a style="padding-right:20px !important" href="https://www.twitter.com/dmetaxak"><i class="fa fa-twitter fa-2x"></i></a>
	</div>

</div>

<div class="col-md-7 col-md-offset-1 blurb">
    {{ content }}
</div>

